<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div id="container">
        <img src="../위치.png" id="spot" />
        <p id="name">FLOOD : 홍수 예방 서비스</p>
      </div>
      <div id="middle">
        <div id="graph">그래프 자리입니다</div>
        <div id="water-level">
          <div id="spotBox">
            <div id="openBox">
              <div id="titleBox">
                <img src="../위치.png" id="spot2" />
                <p id="park">부산소프트웨어 마이스터고 지하주차장</p>
              </div>
              <div id="over">
                <img id="overImg" src="../넘침.png" />
                <p id="overText">물이 가득 찬 상태</p>
                <button id="open">문 열기</button>
              </div>
            </div>
            <div id="nover">
              <img id="closeImg" src="../안 넘침.png" />
              <p id="closeText">여유 있는 상태</p>
              <button id="close">문 닫기</button>
            </div>
          </div>
          <div id="spotBox">
            <div id="openBox">
              <div id="titleBox">
                <img src="../위치.png" id="spot2" />
                <p id="park">부산소프트웨어 마이스터고 지하주차장</p>
              </div>
              <div id="over">
                <img id="overImg" src="../넘침.png" />
                <p id="overText">물이 가득 찬 상태</p>
                <button id="open">문 열기</button>
              </div>
            </div>
            <div id="nover">
              <img id="closeImg" src="../안 넘침.png" />
              <p id="closeText">여유 있는 상태</p>
              <button id="close">문 닫기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../static/main.js"></script>
</html>
