#container {
  display: flex;
  align-items: center;
}

#spot {
  display: flex;
  width: 2.5%;
  height: 2.5%;
  margin: 0 0 0 5%;
}
#name {
  display: flex;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  margin-left: 0.5%;
  font-size: 30px;
}

#middle {
  display: flex;
  margin: 5% 10% 10% 10%;
}

#graph {
  display: flex;
  background-color: aqua;
  width: 20%;
  height: 50%;
}

#water-level {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#spotBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titleBox {
  display: flex;
  align-items: center;
}
#spot2 {
  display: flex;
  width: auto;
  margin: 0 0 0 5%;
}

#park {
  display: flex;
  font-family: "Pretendard-Regular";
  font-weight: 800;
  margin-left: 0.5%;
  font-size: 20px;
}

#over {
  display: flex;
}

#buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#button {
  flex-shrink: 0;
  background-color: #989898;
  font-size: 20px;
  color: white;
  line-height: normal;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  width: 150%;
  padding: 3%;
  margin-bottom: 10%;
  flex-shrink: 0;
  border-radius: 50px;
  border: none;
}

#button:hover {
  background-color: #ff4949;
}
