#container {
  display: flex;
  align-items: center;
}

#spot {
  display: flex;
  width: 2.5%;
  height: 2.5%;
  margin: 0 0 0 5%;
}
#name {
  display: flex;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  margin-left: 0.5%;
  font-size: 30px;
}

#middle {
  display: flex;
  margin: 5% 10% 10% 10%;
}

#graph {
  display: flex;
  background-color: aqua;
  width: 20%;
  height: 50%;
}

#water-level {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#spotBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#openBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#titleBox {
  display: flex;
  width: 100%;
  align-items: center;
}
#spot2 {
  display: flex;
  width: 10%;
  height: 10%;
  margin: 0 0 0 5%;
}

#park {
  display: flex;
  font-family: "Pretendard-Regular";
  font-weight: 800;
  margin-left: 0.5%;
  font-size: 20px;
}

#over {
  display: flex;
  align-items: center;
  width: 100%;
}

#overImg {
  display: flex;
  width: 10%;
  height: 10%;
}
#overText {
  display: flex;
  font-family: "Pretendard-Regular";
  font-weight: 800;
  margin-left: 0.5%;
  font-size: 17px;
}

#buttonBox {
  display: flex;
  flex-direction: column;
}

#open {
  flex-shrink: 0;
  background-color: #989898;
  font-size: 15px;
  color: white;
  line-height: normal;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  width: 18%;
  padding: 2%;
  flex-shrink: 0;
  border-radius: 50px;
  border: none;
}

#open:hover {
  background-color: #ff4949;
}
