<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>flood</title>
  </head>
  <body>
    <div id="container">
      <div id="nameBox">
        <img src="../위치.png" id="spot" />
        <p id="name">FLOOD : 홍수 예방 서비스</p>
      </div>
      <button id="button">수위 확인</button>
    </div>
  </body>
  <script src="../../static/index.js"></script>
</html>
